<!DOCTYPE html>
<html>
    <head>
        <Title>PyAPI</Title>
    </head>
    <body>
        {% if Iperson > 0 %}
            <div class='container'>
                <h1>Iperson</h1>
                <p>{{Iperson}}</p>
            </div>
        {% endif %}
        {% if Operson > 0 %}
            <div class='container'>
                <h1>Operson</h1>
                <p>{{Operson}}</p>
            </div>
        {% endif %}
        {% if Eperson > 0 %}
            <div class='container'>
                <h1>Eperson</h1>
                <p>{{Eperson}}</p>
            </div>
        {% endif %}
    </body>
</html>